<div class="mdc-menu-surface--anchor" {{did-insert this.setMDCMenu}}>
  {{#if session.isAuthenticated}}
   {{#if session.profile}}
    <a href="javascript:void(0)" class="material-icons mdc-toolbar__icon toggle" aria-label="User Menu" alt="User Menu">
      {{#if session.profile.avatarversion}}
        <img class="user_thumb profile_thumb" width="40" height="40" src="{{ assets-base-url }}/users/{{ session.user_id }}/v{{ session.profile.avatarversion }}/thumb.jpeg" alt="Avatar" />
      {{else}}
        <img class="user_thumb profile_thumb" width="40" height="40" src={{ concat (assets-base-url) "/avatar-default.png" }} alt="Avatar">
      {{/if}}
    </a>

    <div class="mdc-menu mdc-menu-surface" tabindex="-1" id="toolbar-menu">
     <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true" style="transform: scale(1, 1);">
      <LinkTo @route="profile">
        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.1s;">
          <i class="material-icons mdc-list-item__graphic color-text--cyan">account_box</i> My Profile
        </li>
      </LinkTo>

      <li class="line" role="separator"></li>

      <a href="javascript:void(0)" {{action 'invalidateSession' on='click'}}>
        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 1.0s;">
          <i class="material-icons mdc-list-item__graphic color-text--pink">exit_to_app</i> Logout
        </li>
      </a>

     </ul>
    </div>
   {{/if}}
  {{else}}
   <a href="javascript:void(0)" class="material-icons mdc-toolbar__icon toggle color-text--white" aria-label="User Menu" alt="User Menu">
    <i class="material-icons">person_add</i>
   </a>

   <div class="mdc-menu mdc-menu-surface" tabindex="-1" id="toolbar-menu">
    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true" style="transform: scale(1, 1);">
      <LinkTo @route="login">
        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.1s;">
          <i class="material-icons mdc-list-item__graphic color-text--amber">lock</i> Login
        </li>
      </LinkTo>

      <LinkTo @route="sign-up">
        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.2s;">
          <i class="material-icons mdc-list-item__graphic color-text--cyan">person_add</i> Sign Up
        </li>
      </LinkTo>
    </ul>
   </div>
  {{/if}}
</div>
