<header
  class="mdc-top-app-bar mdc-top-app-bar--fixed"
  {{did-insert this.setScrollTarget}}
  >
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__section--shrink-to-fit hide-phone">
      <a href="#" class="drawer-menu material-icons mdc-top-app-bar__navigation-icon color-text--white">menu</a>
      <LinkTo @route="index" class='mdc-top-app-bar__title color-text--white'>EmberSy Fire</LinkTo>
    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__section--shrink-to-fit hide-desktop hide-tablet">
      <a href="#" class="drawer-menu material-icons mdc-top-app-bar__navigation-icon color-text--white">menu</a>
      <LinkTo @route="index" class='color-text--white padding-left-20'>
        <i class="material-icons vertical-middle">home</i>
      </LinkTo>
    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section--shrink-to-fit hide-phone hide-tablet" style="min-width: 250px">

      {{#if fastboot.isFastBoot}}

      {{else}}
       {{#if session.isAuthenticated}}
        {{#if session.profile}}
          {{ application/profile/top-app-bar }}
        {{/if}}
       {{else}}
          {{ application/form/login form-class="hide-phone hide-tablet" form-div-style="vertical-align: middle" form-buttons-div-style="display:inline-block;vertical-align:middle;" signup-button=true }}
       {{/if}}
      {{/if}}

    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar" style="max-width: 70px">
     {{#if fastboot.isFastBoot}}

     {{else}}
      {{#if session.isAuthenticated}}
       {{#if session.profile}}
        {{ application/mdc-menu/top-app-bar }}
       {{/if}}
      {{else}}
        {{ application/mdc-menu/top-app-bar }}
      {{/if}}
     {{/if}}
    </section>
  </div>

  <div class="mdc-top-app-bar__row hide-desktop">
    <section class="mdc-top-app-bar__section centrify">

     {{#if fastboot.isFastBoot}}

     {{else}}
      {{#if session.isAuthenticated}}
       {{#if session.profile}}
        {{ application/profile/top-app-bar }}
       {{/if}}
      {{else}}
        {{ application/form/login form-class="hide-phone" form-div-style="vertical-align: middle" form-buttons-div-style="display:inline-block;vertical-align:middle;" signup-button=true }}

        <div class="hide-tablet">
         <button type="button" class="mdc-button mdc-button--outlined button-white-theme" {{ action "modalLogin" on="click"}}>
          <i class="material-icons vertical-middle">lock</i> Login
         </button>
         <button type="button" class="mdc-button mdc-button--outlined button-white-theme" {{ action "modalLogin" on="click"}}>
          <i class="material-icons vertical-middle">person_add</i> Sign Up
         </button>
        </div>

      {{/if}}
     {{/if}}

    </section>
  </div>
</header>
