<aside
   class="mdc-drawer mdc-drawer--modal app-drawer"
   {{did-insert this.setMDCDrawer}}
>
{{#if this.fastboot.isFastBoot}}
  Loading...
{{else}}
 {{#if this.session.isAuthenticated}}
   {{#if this.session.profile}}
    <div>
      <ul class="mdc-image-list mdc-image-list--with-text-protection" style="display: block">
        <li class="mdc-image-list__item">
          <div class="mdc-image-list__image-aspect-contathis.iner">
            {{#if this.session.profile.avatarversion}}
              <img class="mdc-image-list__image" src={{ concat (assets-base-url) "/users/" this.session.user_id "/v" this.session.profile.avatarversion "/avatar.jpeg" }} alt="Avatar">
            {{else}}
              <img class="mdc-image-list__image" src={{ concat (assets-base-url) "/avatar-default.png" }} alt="Avatar">
            {{/if}}
          </div>
          <div class="mdc-image-list__supporting">

              <span class="vertical-middle color-text--white">
                <i class="material-icons" style="vertical-align:super">@</i>
              </span>
              <span class="vertical-middle color-text--white">{{ this.session.profile.username }}</span>

          </div>
        </li>
      </ul>
    </div>

    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <LinkTo @route="index" class='mdc-list-item'>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
          <span class="mdc-list-item__text">Home</span>
        </LinkTo>

        <hr class="mdc-list-divider">
        <h6 class="mdc-list-group__subheader">Profile</h6>

        <li class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">forum</i>Messages
        </li>
        <li class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group_add</i>My Friends
        </li>
        <li class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">card_giftcard</i>Deals
        </li>
      </nav>
    </div>

   {{/if}}
 {{else}}
  <div class="mdc-drawer__content">
    <div class="mdc-layout-grid modal-mdc-layout-grid">

     <div class="mdc-layout-grid__inner" style="grid-gap: 0">
      <div class="
       mdc-layout-grid__cell
       mdc-layout-grid__cell--span-1-desktop
       mdc-layout-grid__cell--span-1-tablet
       mdc-layout-grid__cell--span-4-phone">
      </div>

      <div class="
       mdc-layout-grid__cell
       mdc-layout-grid__cell--span-10-desktop
       mdc-layout-grid__cell--span-6-tablet
       mdc-layout-grid__cell--span-4-phone">

       <div class="mdc-typography--headline5">Email Login</div>

       <br>
       <br>

       <Application::Form::Login />

       <br>
       <br>

       <hr class="line">

       <br>
       <br>

       <div class="mdc-typography--headline5">Social Login</div>

       <br>
       <br>

       <Application::Form::SignUp />

      </div>

      <div class="
        mdc-layout-grid__cell
        mdc-layout-grid__cell--span-1-desktop
        mdc-layout-grid__cell--span-1-tablet
        mdc-layout-grid__cell--span-4-phone">
      </div>
     </div>
    </div>
  </div>
 {{/if}}
{{/if}}
</aside>
