<div class="mdc-layout-grid">

  <div class="mdc-layout-grid__inner">
    <div class="
      mdc-layout-grid__cell
      mdc-layout-grid__cell--span-3-desktop
      mdc-layout-grid__cell--span-1-tablet
      mdc-layout-grid__cell--span-4-phone">
    </div>

    <div class="
      mdc-layout-grid__cell
      mdc-layout-grid__cell--span-6-desktop
      mdc-layout-grid__cell--span-6-tablet
      mdc-layout-grid__cell--span-4-phone">

      <h1 class="mdc-typography--headline4">
        <LinkTo @route="profile">My Profile</LinkTo>
        <span> / </span>
        <LinkTo @route="profile.edit">Edit</LinkTo>
      </h1>

      <hr class="line">

      <br>

      <form class="mdc-card" {{on "submit" this.updateProfile}} >

        <section class="my-card-content">

          <div>
            {{#if session.profile.avatarversion}}
              <img src="{{ assets-base-url }}/users/{{ session.profile.id }}/v{{ session.profile.avatarversion }}/avatar.jpeg" alt="avatar" class="user_avatar mdl-shadow--6dp" />
            {{else}}
              <img src="{{ assets-base-url }}/avatar-default.png" alt="avatar" class="user_avatar mdl-shadow--6dp" />
            {{/if}}
          </div>

          <div class="image-upload-wrapper">
            <Input type="file" accept="image/*" {{on "change" this.previewImage}} />
            {{#if selectedImage}}
              <img class="image-upload" {{did-insert this.setCropperJS}} />
            {{/if}}
          </div>

          <br>
          <br>

          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" {{did-insert this.setMDCTextField}}>
            <Input type="text" name="username" class="mdc-text-field__input" required=true minlength=3 aria-labelledby="label-username" value={{ session.profile.username }} />
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <span class="mdc-floating-label mdc-floating-label--float-above" id="label-username">Username</span>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <br>
          <br>

          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" {{did-insert this.setMDCTextField}}>
            <Input type="text" name="firstname" class="mdc-text-field__input" required=true minlength=3 aria-labelledby="label-firstname" value={{ session.profile.firstname }} />
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <span class="mdc-floating-label mdc-floating-label--float-above" id="label-firstname">First Name</span>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <br>
          <br>

          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" {{did-insert this.setMDCTextField}}>
            <Input type="text" name="lastname" class="mdc-text-field__input" required=true minlength=3  aria-labelledby="label-lastname" @value={{ session.profile.lastname }} />
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <span class="mdc-floating-label mdc-floating-label--float-above" id="label-lastname">Last Name</span>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>

          <br>
          <br>

          <label class="mdc-text-field mdc-text-field--textarea" {{did-insert this.setMDCTextField}}>
            <Textarea name="bio" class="mdc-text-field__input" rows="8" cols="40" required=false aria-labelledby="label-bio" @value={{ session.profile.bio }} />
            <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label class="mdc-floating-label mdc-floating-label--float-above" id="label-bio">Bio</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </label>

          <br>
          <br>

        </section>

        <div class="mdc-card__actions">
          {{#if this.processing}}
            <div style="display:inline-block; vertical-align:middle; width: 80px;">
              <Application::MdcLinearProgress::Indeterminate />
            </div>
          {{else}}
            <button type="submit" class="mdc-button mdc-button--raised mdc-theme--primary-dark-bg">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">Update</span>
            </button>
          {{/if}}
        </div>

      </form>

    </div>

    <div class="
      mdc-layout-grid__cell
      mdc-layout-grid__cell--span-3-desktop
      mdc-layout-grid__cell--span-1-tablet
      mdc-layout-grid__cell--span-4-phone">
    </div>
  </div>

</div>

<br>
<br>
